.navbar-default {
    background-color: lightblue;
    border-color: #e7e7e7;
    border-radius: 0px;
}
#hero {
	margin-top: -20px;
	text-shadow: 0 1px 3px #222;
    background: #202021 url("../img/background.png") center repeat;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    color: #fff;
}